{% comment %} code change - am. loads one of many product templates based on tag.  
previously loaded section 'product-template' only  {% endcomment %}
{%- liquid
  assign product_template2 = false
  assign product_template3 = false
  assign product_template4 = false
  assign product_template5 = false
  assign product_template6 = false
  assign product_template7 = false
  assign product_template8 = false
  assign product_template9 = false
  assign product_template10 = false
  for tag in product.tags
    if tag contains 'template-2'
      assign product_template2 = true
    elsif tag contains 'template-3'
      assign product_template3 = true
    elsif tag contains 'template-4'
      assign product_template4 = true
    elsif tag contains 'template-5'
      assign product_template5 = true
    elsif tag contains 'template-6'
      assign product_template6 = true
    elsif tag contains 'template-7'
      assign product_template7 = true
    elsif tag contains 'template-8'
      assign product_template8 = true
    elsif tag contains 'template-9'
      assign product_template9 = true
    elsif tag contains 'template-10'
      assign product_template10 = true
    endif
  endfor

if product_template2 == true
  section 'product-template-2'
  section 'product-story-sections-2'
  section 'product-recommendations-2'
  section 'recently-viewed-2'
elsif product_template3 == true
  section 'product-template-3'
  section 'product-story-sections-3'
  section 'product-recommendations-3'
  section 'recently-viewed-3'
elsif product_template4 == true
  section 'product-template-4'
  section 'product-story-sections-4'
  section 'product-recommendations-4'
  section 'recently-viewed-4'
elsif product_template5 == true
  section 'product-template-5'
  section 'product-story-sections-5'
  section 'product-recommendations-5'
  section 'recently-viewed-5'
elsif product_template6 == true
  section 'product-template-6'
  section 'product-story-sections-6'
  section 'product-recommendations-6'
  section 'recently-viewed-6'
elsif product_template7 == true
  section 'product-template-7'
  section 'product-story-sections-7'
  section 'product-recommendations-7'
  section 'recently-viewed-7'
  elsif product_template8 == true
  section 'product-template-8'
  section 'product-story-sections-8'
  section 'product-recommendations-8'
  section 'recently-viewed-8'
elsif product_template9 == true
  section 'product-template-9'
  section 'product-story-sections-9'
  section 'product-recommendations-9'
  section 'recently-viewed-9'
elsif product_template10 == true
  section 'product-template-10'
  section 'product-story-sections-10'
  section 'product-recommendations-10'
  section 'recently-viewed-10'
else
  section 'product-template'
  section 'product-story-sections'
  section 'product-recommendations'
  section 'recently-viewed'
endif
-%}
{% comment %} previouus code that was removed {% endcomment %} 
{% comment %} 
{% section 'product-template' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed' %}
{% endcomment %} 
{% comment %} end code change - AM {% endcomment %}

{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}


<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=0d3fcabe-08ee-4173-80db-00863985e9a2"></script>